<div class="container">

<h4>Who's checking in?</h4>

<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <form class="d-flex">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
</nav>

<ul class="list-group">
<% if @employees != nil %>
<% @employees.each do |employee| %>
    <% if employee.user == current_user %>
      <% string = %>
        <li class="list-group-item list-group-item-action">
          <span style="font-size: 1.5rem">
            <%=link_to employee.first_name + " " + employee.last_name,home_questionaire_path, style:"display:block;text-decoration:none;color:black;" %>
          </span>
          <i><%=link_to employee.title, home_questionaire_path, style:"display:block;text-decoration:none;color:grey;" %></i>
        </li>      
      <% end %>
    <% end %>
<% end %>
</ul>
</div>