<div style="position: relative;">
    <%= link_to "", home_launch_path, class:"btn-close", style:"position:absolute;top:0;right:0;" %>
    <br/>
    <ul class="container">
        <% @questions.each do |question| %>
            <% if question.user == current_user %>                
                <li class="row list-group-item-action row-2">
                    <h4 class="col-10"><br/><%= question.attestation %><br/></h4>
                    <div class="col-2">
                        <br/>
                        <%= link_to 'Yes', '', class:"btn btn-outline-success", type:"radio", id:"inlineRadio1", value:"option1", name:"inlineRadioOptions" %>
                        <span>&nbsp</span>
                        <%= link_to 'No', '', class:"btn btn-outline-danger", type:"radio", id:"inlineRadio2", value:"option2", name:"inlineRadioOptions" %>
                        <br/><br/><br/>
                    </div>
                </li>                 
            <% end%>
        <% end %>
    </ul>
</div>

<%# <div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
  <label class="form-check-label" for="inlineRadio1">1</label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
  <label class="form-check-label" for="inlineRadio2">2</label>
</div> %>