<head>
<script type="text/javascript">
function delayedRedirect(){
    window.location = "/home/launch";
}
setTimeout('delayedRedirect()', 2500);
</script>
</head>
<body>
<h1 class="position-absolute top-50 start-50 translate-middle">Signed out Successfully!</h1>
</body>